{% extends 'base.html.twig' %}

{% block title %}Friend Detail{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Friend Information</h4></div>
            <div class="panel-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label for="friend_username" class="col-sm-2 control-label">Username:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="friend_username" value="{{ friend.getUsername() }}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="friend_name" class="col-sm-2 control-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="friend_name" value="{{ friend.getName() }}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="friend_lastname" class="col-sm-2 control-label">Lastname:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="friend_lastname" value="{{ friend.getLastname() }}" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="friend_balance" class="col-sm-2 control-label">Balance:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="friend_balance" value="{{ friend.getBalance().getAmount() }}" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}