{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        {% if isAddFriendSuccess is not null %}
            <div class="alert alert-{{ isAddFriendSuccess ? 'success':'danger' }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{ isAddFriendSuccess ? 'Success!':'Error!' }}</strong> {{ addFriendMsg }}
            </div>
       {% endif %}
        <div class="page-header">
            <h1>This is Friend List Page</h1>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Surname</th>
                <th>Lastname</th>
                <th>Balance</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for key, friend in friends if friends is not empty %}
                <tr>
                    <td>{{ key + 1 }}</td>
                    <td>{{ friend.getUsername() }}</td>
                    <td>{{ friend.getName() }}</td>
                    <td>{{ friend.getLastname() }}</td>
                    <td>{{ friend.getBalance().getAmount() }}</td>
                    <td>
                        <button class="btn btn-default"
                                onclick="window.location.href='{{ path('friend_detail', {'user_id': friend.getId() }) }}';">
                            Detail
                        </button>
                        <button class="btn btn-primary"
                                onclick="window.location.href='';">
                            Transfers
                        </button>
                        <button class="btn btn-danger"
                                onclick="window.location.href='{{ path('friend_remove', {'user_id': friend.getId() }) }}';">
                            Remove Friend
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">No Friend was found!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}