<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
        {% block stylesheets %}
            <style type="text/css">
                body {
                    padding-top: 70px;
                }

                .navbar-right {
                    margin-right: 15px;
                }
            </style>
        {% endblock %}

    </head>
    <body>
        {% block navbar %}
            {% include 'template/navbar.html.twig' with { 'tabLinks': [] } %}
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
