{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block navbar %}{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        body {
            height: 100vh;
        }

        .container {
            height: 100%;
        }

        .login-container {
            display: flex;
            flex: 1;
            justify-content: center;
            height: 100%;
        }

        .login-panel {
            align-self: center;
            width: 350px;
        }

        .login-panel button.btn.btn-primary {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="login-container">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <form method="POST" action="{{ path('security_login') }}">
                        {% if error %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <strong>Error!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" name="_username" id="username" value="{{ last_username }}"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" name="_password" id="password"/>
                        </div>
                        <div class="form-group">
                            <a href="{{ path('user_register') }}">Register</a>
                        </div>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}