{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>This is User List Page</h1>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Surname</th>
                <th>Lastname</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% for key, user in users if users is not empty %}
                <tr>
                    <td>{{ key + 1 }}</td>
                    <td>{{ user.getUsername() }}</td>
                    <td>{{ user.getName() }}</td>
                    <td>{{ user.getLastname() }}</td>
                    <td>
                        {% if user.is_friend is defined %}
                            <p>Friend Added</p>
                        {% else %}
                            <button class="btn btn-primary"
                                    onclick="window.location.href='{{ path('friend_add', {'user_id': user.getId()}) }}';">
                                Add Friend
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">No User was found!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}