{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block navbar %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>
        <form action="{{ path('user_register') }}" method="POST" class="form-horizontal" autocomplete="off">
            {% if errors.register is defined %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Error!</strong> {{ errors.register }}
                </div>
            {% endif %}
            <div class="form-group">
                <label class="col-sm-10"><h4>Account information</h4></label>
            </div>
            <div class="form-group {{ errors.username is defined ? 'has-error':'' }}">
                <label class="col-sm-2 control-label" for="username">Username</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           name="username"
                           id="username"
                           value="{{ app.request.get('username') }}"
                           placeholder="Username"/>
                    <span class="help-block">{{ errors.username ?? '' }}</span>
                </div>
            </div>
            <div class="form-group {{ errors.password is defined ? 'has-error':'' }}">
                <label class="col-sm-2 control-label" for="password">Password</label>
                <div class="col-sm-10">
                    <input type="password"
                           class="form-control"
                           name="password"
                           id="password"
                           value="{{ app.request.get('password') }}"
                           placeholder="Password"/>
                    <span class="help-block">{{ errors.password ?? '' }}</span>
                </div>
            </div>
            <div class="form-group {{ errors.passconf is defined or errors.passwordValid is defined ? 'has-error':'' }}">
                <label class="col-sm-2 control-label" for="password2">Re-Type Password</label>
                <div class="col-sm-10">
                    <input type="password"
                           class="form-control"
                           name="passconf"
                           id="passconf"
                           value="{{ app.request.get('passconf') }}"
                           placeholder="Password"/>
                    <span class="help-block">{{ errors.passconf is defined ? errors.passconf:errors.passwordValid is defined ? errors.passwordValid:'' }}</span>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label class="col-sm-10"><h4>Personal detail</h4></label>
            </div>
            <div class="form-group {{ errors.name is defined ? 'has-error':'' }}">
                <label class="col-sm-2 control-label" for="name">Name</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           name="name"
                           id="name"
                           value="{{ app.request.get('name') }}"
                           placeholder="Surname"/>
                    <span class="help-block">{{ errors.name ?? '' }}</span>
                </div>
            </div>
            <div class="form-group {{ errors.lastname is defined ? 'has-error':'' }}">
                <label for="lastname" class="col-sm-2 control-label">Lastname</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           name="lastname"
                           id="lastname"
                           value="{{ app.request.get('lastname') }}"
                           placeholder="Lastname"/>
                    <span class="help-block">{{ errors.lastname ?? '' }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" name="submit" value="register">Submit</button>
                    <a href="{{ path('security_login') }}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}