<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}">Home</a>
            <a class="navbar-brand" href="{{ path('user_index') }}">Users</a>
            <a class="navbar-brand" href="{{ path('friend_index') }}">Friends</a>
        </div>
        <p class="navbar-text navbar-right"><strong>{{ app.user.getUsername() ?? 'No Username provided' }}</strong>, <a href="{{ path('security_logout') }}" class="navbar-link">Logout</a></p>
    </div>
</nav>